<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/static/index.js"></script>
        <link rel="stylesheet" href="/static/index.css">
        <title>Basically Useless Simple File Storage</title>
    </head>
    <body>
        <h2 class="busfsh2">Basically Useless Simple File Storage</h2>
        <div class="inputs">
            <input type="file" id="uploadfile">
            <textarea id="descriptionbox" cols="30" rows="2" placeholder="Description"></textarea>
            <button type="submit" onclick="uploadFile()">Upload file</button>
        </div>
        <div class="filetable">
            <table>
                <tr>
                    <td class="column">File Name</td>
                    <td class="column">Description</td>
                    <td class="column">Upload Date</td>
                    <!-- <td class="column">Actions</td> -->
                </tr>
                {% for i in range(fileNamesList|length) %}
                    <tr>
                        <td class="column">{{ fileNamesList[i] }}</td>
                        <td class="column">{{ descriptionList[i] }}</td>
                        <td class="column">{{ uploadDateList[i] }}</td>
                        <!-- <td class="column"><button>Download</button><button>DELETE</button></td> -->
                    </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>
