<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/index.css">
        <link rel="shortcut icon" href="/static/img/bitmap-small.webp" type="image/x-icon">
        <title>Basically Useless Simple File Storage</title>
    </head>
    <body>
        <h2 class="busfsh2">Basically Useless Simple File Storage</h2>
        <div class="inputs">
            <form action="/upload-file" method="post" enctype="multipart/form-data">
            <input name="userfile" type="file" id="uploadfile" required >
            <textarea name="userdescription" id="descriptionbox" cols="30" rows="3" placeholder="Description"></textarea>
            <button type="submit">Upload file</button>
        </div>
        </form>
        <p class="versionmessage">{{versionmessage}}</p>
        <div class="filetable">
            <table>
                <tr>
                    <td class="column">File Name</td>
                    <td class="column">Description</td>
                    <td class="column">Upload Date</td>
                    <td class="column">Actions</td>
                </tr>
                {% for i in range(fileNamesList|length) %}
                <tr>
                    <td class="column">{{ fileNamesList[i] }}</td>
                    <td class="column"><form action="{{ url_for('update', uuid=uuidList[i]) }}" method="post"><div class="descbox"><textarea name="inlinedesc" id="" cols="20" rows="4">{{ descriptionList[i] }}</textarea><button type="submit">Update</button></form></div></td>
                    <td class="column">{{ uploadDateList[i] }}</td>
                    <td class="column"><div class="buttons"><button><a href="{{ url_for('download', uuid=uuidList[i]) }}">Download</a></button><button style="background-color: hsla(0, 100%, 50%, 0.568);"><a href="{{ url_for('delete', uuid=uuidList[i]) }}">DELETE</a></button></div></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        <form class="credchange" action="/update-creds" method="post">
            <input type="text" name="newuser" placeholder="New Username">
            <input type="text" name="newpass" placeholder="New Password">
            <button type="submit">Change Credentials</button>
        </form>
        <p class="credchange">{{passchangemsg}}</p>
    </body>
</html>
